body {
    margin : 0;
    padding : 0;
    font-family : sans-serif;

}

#header {
    height : 90vh;
    background : linear-gradient(rgba(223, 243, 246, 0.6),rgba(0,0,0,0.6)), url(img/back.png);
    background-position: center;
    background-size: cover;
    margin: auto;
}

.user-box{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}

.user-box img{
    border-radius: 50%;
    width: 250px;
    border: 2px solid #6caed5;

}

.user-box h1 {
    color :#fff;
    font-weight: bold;
    margin: 10px;
    
}

.user-box p {
    color: #fff;
    font-size: 20px;
    \

}



.col-md-6 img{
    width : 300px;
    height: 300px;
    border : 4px solid #3333;
    margin-top: 20px;
    
}
.about{
    margin-top: 20px;
}

.nav-bar{
    top: 0;
    position: sticky;
    z-index: 2;

}

.navbar{
    background-color:#080808;
    
}

.navbar-brand img{
    height: 50px;
}
.nav-bar .fa-bars{
    font-size: 35px;
    color: #fff;
}

.navbar-toggler{
    outline: none !important;
}

.navbar-nav{
    float : right;
    text-align: right;
}

.nav-link{
    color: #fff !important;

}

.intro-about{
 margin-top: 20px;
}



.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:25px;
	border-radius:3px;
	transition:1s linear;
	transition-property:width, background-color;
}
.skillbar-title {
	position:absolute;
	top:0;
	left:0;
	width:110px;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}
.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:25px;
	line-height:25px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}
.skillbar-bar {
	height:25px;
	width:0px;
	background:#12aef6;
	border-radius:3px;
}
.skill-bar-percent {
	position:absolute;
	right:10px;
    top:0;
    font-weight: bold;
	font-size:13px;
	height:25px;
	line-height:25px;
	color:#000;
	color:rgba(8, 8, 8, 0.4);
}


.resume{
    padding-top: 50px;
    padding-bottom: 30px;
    background :#F5F5DC;
}

.resume h3{
    margin-bottom: 50px;
}

.timeline{
    list-style-type: none;
    position: relative;
}

.timeline:before{
    content :'';
    background: #555;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 1;
}

.timeline li {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    background: #fff;
}

.timeline li h5 {
    background-color: #000;
    padding : 5px 0 5px 20px;
    color :#fff;
    font-size: : 15px;
    
}

.timeline li h5 span {
    font-weight: bold;
    color: #fff;
}

.timeline li:before {
    content: '';
    background : #fff;
    display: inline-block;
    position : absolute;
    border-radius: 50%;
    border :3px solid #000;
    left : 20px;
    width : 20px;
    height: 20px;
    z-index: 1;
}

.services{
    padding-top: 50px;
    padding-bottom: 50px;
}

.services h2{
    margin-bottom: 15px;
}

.services-box{
    background: #f9f9f9;
    padding: 10px;
    margin-top : 20px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
.services-box fa{
    margin: 3px;
    font-size: 20px;
}

.services-box span{
    margin : 3px;
    font-size: 20px;
    font-weight: bold;
}

.services-box p{
    margin-top : 20px;
}

.contact{
    height : 50vh;
    background : linear-gradient(rgba(223, 243, 246, 0.6),rgba(0,0,0,0.6)), url(img/back.png);
    background-position: center;
    background-size: cover;
    margin-top : 20px;
    margin: auto;
}
.contact h2{
    color: #eee;
    
}

.isi-contact{
    margin-top : 40px;
}

.isi-contact i{
   
    color: #eee;
}

.isi-contact p{
    color: #eee;
}